body{
    margin: 0;
    padding: 0;
}

.main_container{
    margin: 0 auto;
    max-width: 1920px;
}

header{
    background: #000;
    color: white;
    height: 150px;
    display: flex;
    justify-content: center;
}

.header{
    width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 199px;
    display: flex;
    justify-content: space-between;
}

.title{
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 5px;
}

.navigation{
    width: 775px;
    font-size: 22px;
    font-weight: 100;
    letter-spacing: 2px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0px 5px 0px 0px;
}